body {
  background-color: #CCCCCC;
}

#about {
  background-color:#EEEEEE;
}

#portfolio {
  background-color:#DDDDDD;
}

#contact {
  background-color:#DDDDDD;
  min-height: 100vh;
  background-image: url('/images/harborislands_csnyder.jpg');
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#contact a {
  font-size: 5em;
  color: white;
  transition: color 2s;
}
#contact a:hover {
  color: rgb(21, 255, 0);
  font-size: 4.5em;
}
.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
  width: 100%;
}

.footer {
  background-color:#AAAAAA;
  color:#EEEEEE;
}

a.bicycle {
  text-decoration: none;
  color: inherit;
}
a.bicycle:hover {
  text-decoration: none;
  color: inherit;
  cursor: default;
}